{% for author in site.authors %}
<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="{{ author.image }}">
        <h3 class="name">{{ author.name }}</h3>
        <p class="desc">{{ author.description }}</p>
        <p>
            {% if author.github %}
            <a itemprop="github" href="https://github.com/{{ author.github }}" title="Github">
                <svg><use xlink:href="#icon-github"></use></svg>
            </a>
            {% endif %}
            {% if author.facebook %}
            <a itemprop="facebook" href="https://www.facebook.com/{{ author.facebook }}" title="Facebook">
                <svg><use xlink:href="#icon-facebook"></use></svg>
            </a>
            {% endif %}
            {% if author.twitter %}
            <a itemprop="twitter" href="https://twitter.com/{{ author.twitter }}" title="Twitter">
                <svg><use xlink:href="#icon-twitter"></use></svg>
            </a>
            {% endif %}
            {% if author.instagram_username %}
            <a itemprop="instagram" href="https://www.instagram.com/{{ author.instagram }}" title="Instagram">
                <svg><use xlink:href="#icon-instagram"></use></svg>
            </a>
            {% endif %}
            {% if author.linkedin %}
            <a itemprop="linkedin" href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn">
                <svg><use xlink:href="#icon-linkedin"></use></svg>
            </a>
            {% endif %}
        </p>
    </div>
</section>
{% endfor %}
